<h2>Log in</h2>

<%=
  form_for :session, '/sessions' do
    div class: 'input' do
      label      :email
      text_field :email
    end

    div class: 'input' do
      label      :password
      text_field :password
    end

    div class: 'controls' do
      submit 'Log in'
    end
  end
%>