<h2>Log in</h2>

<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if params.env['warden'].message %>
  <div class="errors">
    <h3><%=params.env['warden'].message %></h3>
  </div>
<% end %>

<%=
  form_for :session, routes.sessions_path do
    div class: 'input' do
      label      :email
      text_field :email
    end

    div class: 'input' do
      label      :password
      password_field :password
    end

    div class: 'controls' do
      submit 'Log in'
    end
  end
%>