<%= javascript 'users_new' %>

<h2>Sign up</h2>

<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for :user, routes.users_path do
    div class: 'input' do
      label      :email
      text_field :email
    end

    div class: 'input' do
      label      :password
      password_field :password
    end

    div class: 'input' do
      label      :password_confirmation
      password_field :password_confirmation
    end

    div class: 'controls' do
      submit 'Sign up'
    end
  end
%>

<button id="user-check-duplicate-email">Check duplicate email</button>