<h2>Authorized area</h2>

<h3><%= user.email %></h3>
<%=
  form_for :session, '/sessions/99', method: :delete do
    submit 'Log out'
  end
%>

<nav>
  <ul>
    <li><a href="#">Configuration</a></li>
    <li><%= link_to 'Queue Info', routes.queue_info_path %></li>
    <li><a href="#">Operator</a></li>
    <li><a href="#">Queue Ticket</a></li>
  </ul>
</nav>
