<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<%= javascript 'queue_ticket' %>
<h1>Queue Operator</h1>
Queue number<h1 class="current_queue"><%= queue_number %></h1>
Ticket number<h1 class="ticket_queue"><%= ticket_number %></h1>
<button type="button" class="next_queue">Next Queue</button>
<button type="button" class="recall_queue">Recall Queue</button>