<!DOCTYPE html>
<html>
  <head>
    <title>EZQueue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/semantic/dist/semantic.min.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/semantic/dist/semantic.min.js"></script>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
